<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap 4, from LayoutIt!</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form role="form"  enctype="multipart/form-data" action="/addE" method="POST">
				<div class="form-group">
					<h2>新增展覽</h2>		
					<label for="exampleInputPassword1">
						會員帳號
					</label>
					<input type="email" class="form-control" id="exampleInputPassword1" name="memNo" required>
					
					<label for="exampleInputEmail1">
						展覽檔案
					</label>
					<input type="file" class="form-control-file" id="exampleInputFile" name="eFile" >
				</div>

				<div class="form-group">					 
					<label for="exampleInputPassword1">
						展覽名稱
					</label>
					<input type="text" class="form-control" id="exampleInputPassword1" name="eName" required>
				</div>

				<div class="form-group">					 
					<label for="exampleInputPassword1">
						展覽簡介
					</label>
					<input type="text" class="form-control" id="exampleInputPassword1" name="introdution" required>
				</div>

				<div class="form-group">					 
					<label for="exampleInputPassword1">
						開始時間
					</label>
					<input type="date" class="form-control" id="exampleInputPassword1" name="startTime" required>
				</div>

				<div class="form-group">					 
					<label for="exampleInputPassword1">
						結束時間
					</label>
					<input type="date" class="form-control" id="exampleInputPassword1" name="endTime" required >
				</div>

				<div class="form-group">					 
					<label for="exampleInputPassword1">
						展覽預覽圖
					</label>
					<input type="file"  class="form-control" id="exampleInputPassword1" name="eImage"  >
				</div>

				<div class="form-group">					 
					<label for="exampleInputPassword1">
						類別
					</label>
					<input type="text" class="form-control" id="exampleInputPassword1" name="eType" required>
				</div>

				<button type="submit" class="btn btn-primary">
					Submit
				</button>
			</form>
		</div>
	</div>
</div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>